workflow/seguimiento-48hs-soporte-reclamo-sanitizado.json
{
  "name": "48 horas soporte y reclamo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        16,
        -16
      ],
      "id": "1a5ff160-cab5-4cc9-8d1c-c5afc1b90ff7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5941f4ef-2667-4032-99ea-dc59b40c4650",
              "name": "tipo_ticket",
              "value": "soporte_tecnico",
              "type": "string"
            },
            {
              "id": "6e5eab00-feb6-4ad8-b4e0-5f25c7fd9e5c",
              "name": "canal_slack",
              "value": "#equipo-tecnico",
              "type": "string"
            },
            {
              "id": "3995f7d0-7f74-45d0-b376-50350b6fd855",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c4cd9593-5430-4069-a9d4-eae22dec4ada",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "1b033e0e-348f-4bbd-aa76-db32f04d3731",
              "name": "email_cliente",
              "value": "={{ $json.email_cliente }}",
              "type": "string"
            },
            {
              "id": "13c1603c-54f8-4cdb-a8b3-17f5f6a977d6",
              "name": "producto",
              "value": "={{ $json.producto }}",
              "type": "string"
            },
            {
              "id": "386f6098-bbb7-4cb4-a571-683325c352ba",
              "name": "puntaje_nps",
              "value": "={{ $json.puntaje_nps }}",
              "type": "number"
            },
            {
              "id": "5e0a73ab-c187-4194-a8d0-c9c49909b23f",
              "name": "estado_ticket",
              "value": "={{ $json.estado_ticket }}",
              "type": "string"
            },
            {
              "id": "64fa526c-7198-4070-971d-b0320a4368db",
              "name": "asignado_a",
              "value": "={{$json.fields.asignado_a || \"—\"}}",
              "type": "string"
            },
            {
              "id": "5cf77228-0ac8-40ea-bfde-201edb7f1d63",
              "name": "resumen_ia",
              "value": "={{ $json.resumen_ia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -112
      ],
      "id": "519c272e-e9a6-4cce-a57e-dc00bddcae99",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        -16
      ],
      "id": "4f2d0d36-ee31-4759-b27b-b4f283e03e36",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_ticket }}",
                    "rightValue": "soporte_tecnico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb2017c5-3545-4382-b07b-ef21288d34e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "soporte_tecnico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ec9bb3c-0c2a-417f-bb06-e8e257739c44",
                    "leftValue": "={{ $json.tipo_ticket }}",
                    "rightValue": "reclamo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reclamo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1360,
        -16
      ],
      "id": "c4a92b97-8a22-4649-9d9e-d188326aaa21",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{$json.canal_slack}}",
          "mode": "id"
        },
        "text": "=⏰ *Alerta 48h sin contacto*  \nTipo: {{$json.tipo_ticket}}  \nCliente: {{ $json.nombre_cliente }} ({{ $json.email_cliente }})  \nProducto: {{ $json.producto }} | NPS: {{ $json.puntaje_nps }}  \nEstado: {{ $json.estado_ticket }} | Asignado: {{ $json.asignado_a }}  \n\nResumen: {{ $json.resumen_ia }}  \nID Airtable: {{$json.id}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        912,
        -16
      ],
      "id": "911f4312-d254-4f7b-a111-f5b2a723cdc3",
      "name": "Avisar 48 horas",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "BrightHome",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Soporte técnico",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "filterByFormula": "=AND(   {contactado}=0,   DATETIME_DIFF(NOW(), {fecha_registro}, 'hours') >= 48,   {estado_ticket} != \"resuelto\",   OR({alerta_48h_enviada}=0, {alerta_48h_enviada}=BLANK()) )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        -112
      ],
      "id": "086e7bce-56b8-42d6-937c-a19c0e51a356",
      "name": "Soporte",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "BrightHome",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Reclamos y atención al cliente",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "filterByFormula": "=AND(   {contactado}=0,   DATETIME_DIFF(NOW(), {fecha_registro}, 'hours') >= 48,   {estado_ticket} != \"cerrado\",   OR({alerta_48h_enviada}=0, {alerta_48h_enviada}=BLANK()) )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        80
      ],
      "id": "88a7f512-9781-46fc-9314-d87075c75883",
      "name": "Reclamo",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "BrightHome",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Soporte técnico",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactado": false,
            "alerta_48h_fecha": "={{new Date().toISOString()}}",
            "nombre_cliente": "=",
            "email_cliente": "={{ $json.email_cliente }}",
            "producto": "=",
            "resumen_ia": "=",
            "estado_ticket": "={{ $json.estado_ticket }}",
            "puntaje_nps": 0,
            "alerta_48h_enviada": "={{ true }}"
          },
          "matchingColumns": [
            "email_cliente"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "puntaje_nps",
              "displayName": "puntaje_nps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comentario_original",
              "displayName": "comentario_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resumen_ia",
              "displayName": "resumen_ia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "categoria_ia",
              "displayName": "categoria_ia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estado_ticket",
              "displayName": "estado_ticket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "abierto",
                  "value": "abierto"
                },
                {
                  "name": "en revisión",
                  "value": "en revisión"
                },
                {
                  "name": "resuelto",
                  "value": "resuelto"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asignado_a",
              "displayName": "asignado_a",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Mariana Torres",
                  "value": "Mariana Torres"
                },
                {
                  "name": "Pablo Acosta",
                  "value": "Pablo Acosta"
                },
                {
                  "name": "Leonardo Ruiz",
                  "value": "Leonardo Ruiz"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accion_ejecutada",
              "displayName": "accion_ejecutada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alerta_48h_enviada",
              "displayName": "alerta_48h_enviada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alerta_48h_fecha",
              "displayName": "alerta_48h_fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1584,
        -112
      ],
      "id": "4e1a2b62-56b8-441d-964d-3e8a70f418ee",
      "name": "Actualizar la alerta"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "list",
          "cachedResultName": "BrightHome",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID"
        },
        "table": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_TABLE_ID",
          "mode": "list",
          "cachedResultName": "Reclamos y atención al cliente",
          "cachedResultUrl": "https://airtable.com/YOUR_AIRTABLE_BASE_ID/YOUR_AIRTABLE_TABLE_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactado": false,
            "alerta_48h_fecha": "={{new Date().toISOString()}}",
            "puntaje_nps": 0,
            "alerta_48h_enviada": "={{ true }}",
            "email_cliente": "={{ $json.email_cliente }}"
          },
          "matchingColumns": [
            "email_cliente"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "puntaje_nps",
              "displayName": "puntaje_nps",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "comentario_original",
              "displayName": "comentario_original",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resumen_ia",
              "displayName": "resumen_ia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "categoria_ia",
              "displayName": "categoria_ia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "estado_ticket",
              "displayName": "estado_ticket",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "abierto",
                  "value": "abierto"
                },
                {
                  "name": "en revisión",
                  "value": "en revisión"
                },
                {
                  "name": "cerrado",
                  "value": "cerrado"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "asignado_a",
              "displayName": "asignado_a",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Lucía Pereyra",
                  "value": "Lucía Pereyra"
                },
                {
                  "name": "Marcos Díaz",
                  "value": "Marcos Díaz"
                },
                {
                  "name": "Elena Correa",
                  "value": "Elena Correa"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "alta",
                  "value": "alta"
                },
                {
                  "name": "media",
                  "value": "media"
                },
                {
                  "name": "baja",
                  "value": "baja"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contactado",
              "displayName": "contactado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "accion_ejecutada",
              "displayName": "accion_ejecutada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alerta_48h_enviada",
              "displayName": "alerta_48h_enviada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "alerta_48h_fecha",
              "displayName": "alerta_48h_fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1584,
        80
      ],
      "id": "bc9c88ac-ecc8-4120-8238-c33faa0b997f",
      "name": "Actualizar la alerta1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db61ac00-19b5-41c2-abdd-94bdb140b4b5",
              "name": "tipo_ticket",
              "value": "={{ $('Merge').item.json.tipo_ticket }}",
              "type": "string"
            },
            {
              "id": "6e7c28f5-8a6a-4bab-b274-a7c3c4cc5cc5",
              "name": "canal_slack",
              "value": "={{ $('Merge').item.json.canal_slack }}",
              "type": "string"
            },
            {
              "id": "e03aa4dc-c542-40d7-b714-2edf644743ca",
              "name": "id",
              "value": "={{ $('Merge').item.json.id }}",
              "type": "number"
            },
            {
              "id": "b1d2ff3c-a87b-4077-8eee-f8861b52d5fc",
              "name": "nombre_cliente",
              "value": "={{ $('Merge').item.json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "9318d419-f662-4b13-9755-7467168ada5f",
              "name": "email_cliente",
              "value": "={{ $('Merge').item.json.email_cliente }}",
              "type": "string"
            },
            {
              "id": "4c14e184-129b-4fc5-92d9-428361db56be",
              "name": "producto",
              "value": "={{ $('Merge').item.json.producto }}",
              "type": "string"
            },
            {
              "id": "d2e19bc4-2959-42e1-b6c1-719ef208cd47",
              "name": "puntaje_nps",
              "value": "={{ $('Merge').item.json.puntaje_nps }}",
              "type": "number"
            },
            {
              "id": "85ef3199-6258-4eb2-ae5a-e2e542e98794",
              "name": "estado_ticket",
              "value": "={{ $('Merge').item.json.estado_ticket }}",
              "type": "string"
            },
            {
              "id": "5c950b5e-2535-4c96-bf08-61331d4460cc",
              "name": "asignado_a",
              "value": "={{ $('Merge').item.json.asignado_a }}",
              "type": "string"
            },
            {
              "id": "79be3fb8-ed8a-4b2b-80a3-00fb2d281baa",
              "name": "resumen_ia",
              "value": "={{ $('Merge').item.json.resumen_ia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -16
      ],
      "id": "11905d2a-997a-4e64-bd1f-071deab0222f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5941f4ef-2667-4032-99ea-dc59b40c4650",
              "name": "tipo_ticket",
              "value": "reclamo",
              "type": "string"
            },
            {
              "id": "6e5eab00-feb6-4ad8-b4e0-5f25c7fd9e5c",
              "name": "canal_slack",
              "value": "#equipo-atencion-cliente",
              "type": "string"
            },
            {
              "id": "3995f7d0-7f74-45d0-b376-50350b6fd855",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c4cd9593-5430-4069-a9d4-eae22dec4ada",
              "name": "nombre_cliente",
              "value": "={{ $json.nombre_cliente }}",
              "type": "string"
            },
            {
              "id": "1b033e0e-348f-4bbd-aa76-db32f04d3731",
              "name": "email_cliente",
              "value": "={{ $json.email_cliente }}",
              "type": "string"
            },
            {
              "id": "13c1603c-54f8-4cdb-a8b3-17f5f6a977d6",
              "name": "producto",
              "value": "={{ $json.producto }}",
              "type": "string"
            },
            {
              "id": "386f6098-bbb7-4cb4-a571-683325c352ba",
              "name": "puntaje_nps",
              "value": "={{ $json.puntaje_nps }}",
              "type": "number"
            },
            {
              "id": "5e0a73ab-c187-4194-a8d0-c9c49909b23f",
              "name": "estado_ticket",
              "value": "={{ $json.estado_ticket }}",
              "type": "string"
            },
            {
              "id": "64fa526c-7198-4070-971d-b0320a4368db",
              "name": "asignado_a",
              "value": "={{$json.fields.asignado_a || \"—\"}}",
              "type": "string"
            },
            {
              "id": "5cf77228-0ac8-40ea-bfde-201edb7f1d63",
              "name": "resumen_ia",
              "value": "={{ $json.resumen_ia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        80
      ],
      "id": "ff634790-d67c-41b9-83a1-cfb491b6be36",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "M2 Integradora",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ $json.fields.nombre_cliente }}",
            "email_cliente": "={{ $json.fields.email_cliente }}",
            "camino": "Casos criticos",
            "categoria_detectada": "reclamo",
            "accion_ejecutada": "={{ $json.fields.accion_ejecutada }}",
            "estado": "={{ $json.fields.estado_ticket }}",
            "fecha_procesamiento": "={{ $json.fields.fecha_registro }}",
            "observacion": "Revisar equipo de atención al cliente"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha_procesamiento",
              "displayName": "fecha_procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria_detectada",
              "displayName": "categoria_detectada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "camino",
              "displayName": "camino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion_ejecutada",
              "displayName": "accion_ejecutada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observacion",
              "displayName": "observacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        80
      ],
      "id": "744a5fcb-803e-47b9-bfd0-35bf5fa29759",
      "name": "Crear logs"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "M2 Integradora",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre_cliente": "={{ $json.fields.nombre_cliente }}",
            "email_cliente": "={{ $json.fields.email_cliente }}",
            "camino": "Casos técnicos",
            "categoria_detectada": "soporte tecnico",
            "accion_ejecutada": "={{ $json.fields.accion_ejecutada }}",
            "estado": "={{ $json.fields.estado_ticket }}",
            "fecha_procesamiento": "={{ $json.fields.fecha_registro }}",
            "observacion": "Revisar equipo de soporte tecnico"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fecha_procesamiento",
              "displayName": "fecha_procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cliente",
              "displayName": "nombre_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoria_detectada",
              "displayName": "categoria_detectada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "camino",
              "displayName": "camino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "accion_ejecutada",
              "displayName": "accion_ejecutada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observacion",
              "displayName": "observacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        -112
      ],
      "id": "0bd0070e-6e47-4cdc-a023-61e84a085f66",
      "name": "Crear logs1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Soporte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reclamo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Avisar 48 horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Actualizar la alerta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Actualizar la alerta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar 48 horas": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soporte": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reclamo": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Actualizar la alerta1": {
      "main": [
        [
          {
            "node": "Crear logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar la alerta": {
      "main": [
        [
          {
            "node": "Crear logs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "updatedAt": "2026-02-03T23:26:05.433Z",
      "createdAt": "2026-02-03T23:26:05.433Z",
      "id": "61Nxw2wxjJdHlrCg",
      "name": "aaa"
    }
  ]
}